<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit Pokemon</h1>


    <%=index%>
    <form action="/Pokemon/<%=index%>?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%=data.name%>"/><br/>
      Color: <input type="text" name="type" value="<%=data.type%>"/><br/>

      <input type="submit" value="Submit Changes"/>
    </form>
    <nav>
      <a href="/Pokemon">Index</a>
    </nav>

  </body>
</html>
