<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Pokemon Character</h1>
    <div class="container">
      <ul>
        <img src="<%=data.img%>"> 
        <li>Name:
          <%=data.name%>
        </li>
        <li>Type:
          <%=data.type%>
        </li>

      <a href="/Pokemon/">Back to Index</a>

      </ul>
    </div>
  </body>
</html>
